.idea
__pycache__/
allocator/*.tif
output/
allocator/motorway.cpg
allocator/motorway.dbf
allocator/motorway.prj
allocator/motorway.sbn
allocator/motorway.sbx
allocator/motorway.shp
allocator/motorway.shx
allocator/primary.cpg
allocator/primary.dbf
allocator/primary.prj
allocator/primary.sbn
allocator/primary.sbx
allocator/primary.shp
allocator/primary.shx
allocator/residential.cpg
allocator/residential.dbf
allocator/residential.prj
allocator/residential.sbn
allocator/residential.sbx
allocator/residential.shp
allocator/residential.shx
allocator/secondary.cpg
allocator/secondary.dbf
allocator/secondary.prj
allocator/secondary.sbn
allocator/secondary.sbx
allocator/secondary.shp
allocator/secondary.shx
comparison/emission_transportation_20220102.nc
build/
src.pyd
src.c
test.py
input/GRIDDESC.CN245x195
mask.nc
